<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.at_proto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_icon"
        android:label="PyrAT"
        android:roundIcon="@drawable/ic_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CarnetVoyageRelated.DisplayCarnetActivity"></activity>
        <activity android:name=".CarnetActivity" />
        <activity
            android:name=".ItHubActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RecommandationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RecommandationRelated.DisplayRecoActivity"
            android:parentActivityName=".RecommandationActivity" />

        <service
            android:name=".DownloadIntentService"
            android:exported="false" />

        <activity
            android:name=".ItActivity"
            android:parentActivityName=".ItHubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".POIRelated.PopUpActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>